{% extends 'SKGsbBundle::Layout.html.twig' %}

  
{% block haut %}
        <div id="cadreduhaut">
       
           <img src="{{ asset('bundles/SKGsb/images/logo.jpg') }}"alt="logo" width="105px" height="105px" align="left" /></left>
        <h2>Laboratoire pharmaceutique G.S.B</h2>
        </div>
{%endblock%}

{% block centre %}
        <div id="cadreducentre">
     Le secteur d'activité
L’industrie pharmaceutique est un secteur très lucratif dans lequel le mouvement de fusion acquisition
est très fort. Les regroupements de laboratoires ces dernières années ont donné naissance à des
entités gigantesques au sein desquelles le travail est longtemps resté organisé selon les anciennes
structures.
Des déboires divers récents autour de médicaments ou molécules ayant entraîné des complications
médicales ont fait s'élever des voix contre une partie de l'activité des laboratoires : la visite médicale,
réputée être le lieu d' arrangements entre l'industrie et les praticiens, et tout du moins un terrain
d'influence opaque.
        
        </div>
{%endblock%}
        
{% block gauche %}
      <div class="menu_div"> 
<ul>
<li><a href="{{path('SKGsbBundle_accueil')}}">Accueil : </a></li>

<li><a href="#">Présentation</a> 
<ul class="sub-item1"> 
<li><a href="{{path('SKGsbBundle_activite')}}">Activité :</a>
    <li><a href="{{path('SKGsbBundle_entreprise')}}">L'entreprise :</a>
</li>
</ul> 
</li> 

<li><a href="#">SI</a> 
<ul class="sub-item2"> 
<li><a href="{{path('SKGsbBundle_organisation')}}">Description :</a></li>
<li><a href="{{path('SKGsbBundle_gestion')}}">Gestion :</a></li>
<li><a href="{{path('SKGsbBundle_equipement')}}">Equipement :</a></li>
</ul>
</li>

<li><a href="#">Reseau</a>
<ul class="sub-item3"> 
<li><a href="{{path('SKGsbBundle_repartition')}}">Repartition :</a></li>
<li><a href="{{path('SKGsbBundle_segmentation')}}">Segmentation :</a></li>
</ul>
</li>

</ul>
</div> 

{%endblock%}
        
{% block bas %}
        <div id="cadredubas">Copyright 2013/2014</div>
{%endblock%}
        

        